.footer {
  background-color: #00008b;
  color: #fff;
  padding: 40px 20px 20px 30px;
}

.footerContent {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  /* gap: 30px; */
  /* max-width: 1200px; */
  margin: 0 auto;
}

/* Left */
.left {
  flex: 1;
  /* min-width: 200px; */
}

.logo {
  margin-bottom: 15px;
}
.logo img {
  height: auto;
  max-height: 40px;
  width: 100px;
  object-fit: cover;
  background-color: #fff;
  border-radius: 15px;
}

.socialIcons {
  display: flex;
  gap: 15px;
}

.socialIcons a {
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.socialIcons a:hover {
  color: #4b9cd3;
}

/* Middle */
.middle {
  flex: 1;
  min-width: 200px;
}

.heading {
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: bold;
  color: #b9d9eb;
}

.middle ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.middle ul li {
  margin-bottom: 8px;
}

.middle ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.middle ul li a:hover {
  color: #4b9cd3;
}

/* Right */
.right {
  flex: 1;
  min-width: 200px;
}

.right p {
  margin-bottom: 8px;
  font-size: 0.95rem;
}

/* Bottom Bar */
.bottomBar {
  margin-top: 30px;
  text-align: center;
}

.separator {
  border: none;
  border-top: 1px solid #4b9cd3;
  margin-bottom: 10px;
}

.bottomBar p {
  font-size: 0.85rem;
  color: #b9d9eb;
}

/* Responsive */
@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
  }

  .socialIcons {
    justify-content: center;
    align-items: center;
  }
}
