.aboutSection {
  position: relative;
  background-image: url("/assets/background/Aboutus_Elevator2.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 60px 0;
}

.overlay {
  background: rgba(255, 255, 255, 0.82);
  padding: 40px 20px;
}
